@{
    ViewBag.Title = "Dashboard";
}
@using Capstone.Web.Models
@model DashboardModel



<div id="itinerary-splash">    </div>

<div id="itinerariescontainer">
    <h1>My Columbus Tours</h1>

    <h3>Add New Itinerary</h3>
    <div id="itinerary-create-new">
        @using (Html.BeginForm("FillNewItinerary", "Dashboard", FormMethod.Get))
        {
            <div>
                @Html.Label("New Itinerary Name: ")
                @Html.TextBox("NewItinName")

                @Html.Label("Starting Point (Address): ")
                @Html.TextBox("StartingPoint")
                <br />
                <input type="submit" value="Create New Itinerary" class="btn btn-default" />
            </div>
        }
    </div>


    <h3>Trip Itineraries</h3>
    <div class="row" id="itineraries-boxes">
        @foreach (ItineraryModel itinerary in Model.Itineraries)
        {
            <div class="itineraryandbutton col-lg-4">
                <a style="display:block" href="@Url.Action("ItineraryDetail", "Itinerary", new { id = itinerary.Itinerary_id })">
                    <div class="itinerary">
                        <div class="tripname">@itinerary.Name</div>
                        <div class="startingpointheading">Starting Point:</div>
                        <div>@itinerary.Starting_point</div>
                        <div>
                            @if (itinerary.Landmarks == null)
                            {
                                <div id="numberofstops">0 stops</div>
                            }
                            else
                            {
                                <div id="numberofstops">@itinerary.Landmarks.Count stops</div>
                            }
                        </div>
                    </div>
                </a>
                <div class="delete-itinerary-btn">
                    @Html.ActionLink("Delete Itinerary", "DeleteItinerary", "Dashboard", new { id = itinerary.Itinerary_id }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>