
@{
    ViewBag.Title = "Dashboard";
}
@using Capstone.Web.Models
@model DashboardModel

<<<<<<< HEAD
<h2>Your Itineraries</h2>
<table>
    <tr>
        <th>Trip Name</th>
        <th>Starting Point</th>
        <th>Number of Stops</th>
    </tr>
@foreach (ItineraryModel itinerary in Model.Itineraries)
{
    <tr>
        <th>@itinerary.Name</th>
        <td>@itinerary.Starting_point</td>
        @if (!(itinerary.Landmarks == null))
        {
            <td>@itinerary.Landmarks[itinerary.Landmarks.Count - 1]</td>
        }
        else
        {
            <td>0</td>
        }
        <td>@Html.ActionLink("View Details", "ItineraryDetail", new { id = itinerary.Itinerary_id })</td><!--NOT SURE IF THIS IS GOOD CODE. WILL KNOW WHEN CONTROLLERS ARE DONE -JOE O-->
        <td>@Html.ActionLink("Delete Itinerary", "DeleteItinerary", "Dashboard", new { id = itinerary.Itinerary_id }, new { @class = "btn btn-default" })</td>
        
    </tr>
}
</table>




=======
<div id="itinerariescontainer">
    <h1>My Columbus Tours</h1>
    <h3>Trip Itineraries</h3>
    @foreach (ItineraryModel itinerary in Model.Itineraries)
    {
        <div class="itineraryandbutton">
            <a style="display:block" href="~/Itinerary/ItineraryDetail/@itinerary.Itinerary_id">
                <div class="itinerary">
                    <div class="tripname">@itinerary.Name</div>
                    <div class="startingpointheading">Starting Point:</div>
                    <div>@itinerary.Starting_point</div>
                    @if (itinerary.Landmarks == null)
                {
                        <div id="numberofstops">0 stops</div>
                    }
                    else
                    {
                        <div id="numberofstops">@itinerary.Landmarks.Count stops</div>
                    }
                </div>
            </a>
                <button class="btn" onclick=@Url.Action("DeleteItinerary", "Dashboard", new { id = itinerary.Itinerary_id})> Delete Itinerary </button>
            
        </div>
    }
</div>
>>>>>>> 8337f09c493314b5aec92ea31cd6b33de93466ae
