@{
    ViewBag.Title = "Dashboard";
}
@using Capstone.Web.Models
@model DashboardModel



<div id="itinerary-splash">    </div>

<div id="itinerariescontainer">
    <h1>My Columbus Tours</h1>
    <h3>Trip Itineraries</h3>
    @foreach (ItineraryModel itinerary in Model.Itineraries)
    {
        <div class="itineraryandbutton">
            <a style="display:block" href='@Url.Action("ItineraryDetail", "Dashboard", new { id = itinerary.Itinerary_id })'>
                <div class="itinerary">
                    <div class="tripname">@itinerary.Name</div>
                    <div class="startingpointheading">Starting Point:</div>
                    <div>@itinerary.Starting_point</div>
                    @if (itinerary.Landmarks == null)
                    {
                        <div id="numberofstops">0 stops</div>
                    }
                    else
                    {
                        <div id="numberofstops">@itinerary.Landmarks.Count stops</div>
                    }
                </div>
            </a>
            @Html.ActionLink("Delete Itinerary", "DeleteItinerary", "Dashboard", new { id = itinerary.Itinerary_id }, new { @class = "btn btn-default" })

        </div>

    }
    @using (Html.BeginForm("FillNewItinerary", "Dashboard", FormMethod.Get))
    {
        <div>
            @Html.Label("New Itinerary Name")
            @Html.TextBox("NewItinName")

            @Html.Label("Starting Point (Address)")
            @Html.TextBox("StartingPoint")



            <input type="submit" value="Submit" class="register_btn" />
        </div>
    }
</div>