@{
    ViewBag.Title = "Login Page";
    //Current model is a boolean "isUsernameOrPasswordEnteredValid"
}

@using System.ComponentModel.DataAnnotations
@using Capstone.Web.Models
@model UserLoginModel

<h2>Log in:</h2>
@if(Model.EnteredInvalidLogin)
{
    <p>*Invalid username or password. Are you sure you entered the correct information?</p>
}
@using(Html.BeginForm("LoginHome", "Home", FormMethod.Post))
{
    @Html.Label("Username: ")
    @Html.TextBoxFor(m => m.User_name, new { placeholder = "username" })<br />
    @Html.ValidationMessageFor(m => m.User_name)<br />
    @Html.Label("Password: ")
    @Html.TextBoxFor(m => m.User_password, new { type = "password", placeholder = "password" })<br />
    @Html.ValidationMessageFor(m => m.User_password)<br />
    <input type="submit" value="Log In" />
}
