<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tour Columbus!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/CapstoneJS.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CapstoneCSS.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lora|Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Poiret+One" rel="stylesheet">
</head>

<body>
    <!--Start New Navbar-->
    <!-- Navigation -->
    <nav id="tourcolumbusnavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img id="layoutimage" src="~/Content/imgs/logo.PNG" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <li class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchLandmarks", "Landmarks")">Search Landmarks</a>
                    </li>
                    @if (Session["sid"] == null)
                    {
                        <li>
                            <a href="@Url.Action("Login","Home")">Login</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register","Home")">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("SessionLogOut","Home")">Log Out</a>

                        </li>
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--End new Navbar-->
    <div>

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@RenderSection("scripts", required: false)*@
    </div>


    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Site.js"></script>

    @*<footer>
        @DateTime.Now.Year AJJA Inc.
    </footer>*@
</body>
</html>
