<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tour Columbus!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/CapstoneJS.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CapstoneCSS.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lora|Merriweather" rel="stylesheet">
</head>
<body id="bg_image" class="img-responsive">
    <div class="navigator">
        @*<span id="nav_title">Tour Columbus!</span>*@
            <button class="dropbtn" onclick="window.location='@Url.Action("Index","Home")';">Home</button>
            @*<div class="dropdown">
                <button class="dropbtn" onclick="window.location='@Url.Action("#","Home")';">About</button>
                <div class="dropdown-content" style="left:0;">
                    <a href="@Url.Action("#", "Home")">Sample Page 1</a>
                    <a href="@Url.Action("#", "Home")">Sample Page 2</a>
                    <a href="@Url.Action("#","Home")">Sample Page 3</a>
                </div>
                <div class="glyphicon glyphicon-arrow-down"></div>
            </div>*@
            <button class="dropbtn" onclick="window.location='@Url.Action("#","Home")';">Search Landmarks</button>
            <div class="right-side-nav">
                <button class="dropbtn" onclick="window.location='@Url.Action("Register","Home")';">Register</button>
                <button class="dropbtn" onclick="window.location='@Url.Action("Login","Home")';">Login</button>
            </div>
    </div>
    <div> 
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <footer>
        @DateTime.Now.Year AJJA Inc.
    </footer>
</body>
</html>
