@{
    ViewBag.Title = "ItineraryDetail";
}
@using Capstone.Web.Models
@model ItineraryModel

<div id="itinerary-details-splash"></div>
<div class="itinerary-details-container">
    <h2 id="quickfit">@Model.Name</h2>

    <div>
        <h4>Starting Point:</h4>
        <h3>@Model.Starting_point</h3>
    </div>

    @if (!(Model.Landmarks == null))
    {
        <div id="itinerary-details-boxes" class="row">
            @foreach (LandmarkModel landmark in Model.Landmarks)
            {

                <div class="col-lg-4">
                    <div class="itineraryandbutton">
                        <a style="display:block">
                            <div class="itinerary">
                                <div class="tripname">@landmark.name</div>
                            </div>
                        </a>
                    </div>
                    <div id="delete-landmark-itinerary-btn">
                        @Html.ActionLink("Delete Landmark", "DeleteLandmark", "Itinerary", new { id = landmark.landmark_id, itineraryId = Model.Itinerary_id }, new { @class = "btn btn-default" })

                    </div>
                </div>
            }
        </div>
    }


    <div id="add-landmark-btn-itinerary">
        @Html.ActionLink("View Route", "RouteMap", "Route", new { id = Model.Itinerary_id }, new { @class = "btn btn-default" })
    </div>

    <div id="add-landmark-btn-itinerary">
        @Html.ActionLink("Add Landmark To Itinerary", "SearchLandmarksWithItin", "Landmarks", new { id = Model.Itinerary_id }, new { @class = "btn btn-default" })
    </div>

    <div id="landmark-distance-btn-itinerary">
        @Html.ActionLink("Find nearby landmarks", "LandmarkDistance", "Route", new { id = Model.Itinerary_id }, new { @class = "btn btn-default" })
    </div>
        
</div>