@{
    ViewBag.Title = "ItineraryDetail";
}
@using Capstone.Web.Models
@model ItineraryModel
<h2>ItineraryDetail</h2>

<div>
    <h3>@Model.Name</h3>
    <h3>@Model.Starting_point</h3>
</div>

@if (!(Model.Landmarks == null))
{
    <div>
        @foreach (LandmarkModel landmark in Model.Landmarks)
        {
            <div class="itineraryandbutton">
                <a style="display:block">
                    <div class="itinerary">
                        <div class="tripname">@landmark.name</div>

                        <div id="numberofstops">@Model.Landmarks.Count stops</div>
                        }
                    </div>
                </a>
            </div>
            @Html.ActionLink("Delete Landmark", "DeleteLandmark", "Landmark", new { id = Model.Itinerary_id }, new { @class = "btn btn-default" })
        }
    </div>
}

@Html.ActionLink("Add Landmark", "SearchLandmarks", "Landmarks", new { id = Model.Itinerary_id }, new { @class = "btn btn-default" })