@{
    ViewBag.Title = "ItineraryDetail";
}
@using Capstone.Web.Models
@model ItineraryModel

<div id="itinerary-details-splash"></div>
<div class="itinerary-details-container">
    <h2>@Model.Name Details</h2>

    <div>
        <h3>@Model.Starting_point</h3>
    </div>

    @if (!(Model.Landmarks == null))
    {
        <div>
            @foreach (LandmarkModel landmark in Model.Landmarks)
            {
                <div class="itineraryandbutton">
                    <a style="display:block">
                        <div class="itinerary">
                            <div class="tripname">@landmark.name</div>

                            <div id="numberofstops">@Model.Landmarks.Count stops</div>
                        </div>
                    </a>
                </div>
                <div id="delete-landmark-itinerary-btn">
                    @Html.ActionLink("Delete Landmark", "DeleteLandmark", "Itinerary", new { id = landmark.landmark_id, itineraryId = Model.Itinerary_id }, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    }
    <div id="add-landmark-btn-itinerary">
        @Html.ActionLink("Add Landmark To Itinerary", "SearchLandmarksWithItin", "Landmarks", new { id = Model.Itinerary_id }, new { @class = "btn btn-default" })
    </div>

</div>