@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Capstone.Web.Models
@model LandmarkModel
<div id="landmark-details">
    <div id="landmark-details-container">

        <img src="~/Content/imgs/Landmarks/@Model.image" />
        <div id="landmark-details-name">
            <p>@Model.name</p>
        </div>
        <div class="landmark-details-divider"></div>
        <div>
            <p>
                <strong>Located:</strong><br /> @Model.address
            </p>
            <p id="landmark-details-description">
                @Model.description
            </p>
        </div>
    </div>
    <div id="add-landmark-btn">
        @Html.ActionLink("Add Landmark to Itinerary", "AddLandmarkToItinerary", "Landmarks", new { id = Model.landmark_id }, new { @class = "btn btn-default" })
    </div>

    <div>
        <h2>Reviews</h2>
        @foreach(ReviewModel review in Model.Reviews)
        {
            <div>@review.Rating</div>
            <div>@review.Description</div>
        }
    </div>
</div>

