
@{
    ViewBag.Title = "Suggest A Landmark!";
    int userID = (int)(Session["sid"]);
}
@using Capstone.Web.Models
@model LandmarkModel

<div id="suggest-landmark-splash"></div>

<div id="suggest-landmark-container">
    <h2>@ViewBag.Title</h2>

    <div>
        <h3>Thanks for your suggestion!</h3>
        <div>We will have to review your suggestion before it is an option to add to your itinerary.</div>
        <h4>Information Submitted:</h4>
        <div>@Model.name</div><br />
        <div>@Model.address</div><br />
        <div>@Model.description</div><br />
    </div>

    @Html.ActionLink("Go Back To Itineraries", "Dashboard", "Dashboard", new { id = userID }, new { @class = "btn btn-default" })
</div>