@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Capstone.Web.Models
@model LandmarkModel
<div id="landmark-details">
    <div id="landmark-details-container">

        <img src="~/Content/imgs/Landmarks/@Model.image" />
        <div id="landmark-details-name">
            <p>@Model.name</p>
        </div>
        <div class="landmark-details-divider"></div>
        <div>
            <p>
                <strong>Located:</strong><br /> @Model.address
            </p>
            <p id="landmark-details-description">
                @Model.description
            </p>
        </div>
    </div>
    <div id="add-landmark-btn">
        @Html.ActionLink("Add Landmark to Itinerary", "AddLandmarkToItinerary", "Landmarks", new { id = Model.landmark_id }, new { @class = "btn btn-default" })
    </div>

    <div id="submitandreviewscontainer">
        <h2>Reviews</h2>
        <input id="submitreviewbutton" value="Review this Landmark" data-toggle="collapse" data-target="#submitreviewcontainer" />
        <div id="submitreviewcontainer" class="collapse">
            <h3>Review @Model.name</h3>
            @using(Html.BeginForm("SubmitReview", "Landmarks", FormMethod.Post))
            {
                @Html.Hidden("landmark_id", Model.landmark_id);

                <div id="submitthumbsup">
                    @Html.Label("Thumbs Up: ")
                    @Html.RadioButton("rating", "thumbs up")
                </div>
                <div id="submitthumbsdown">
                    @Html.Label("Thumbs Down: ")
                    @Html.RadioButton("rating", "thumbs down")
                </div>
                <div id="submitdescription">
                    @Html.Label("What did you think of " + Model.name + "?")
                    @Html.TextArea("reviewdescription")
                </div>
                <input type="submit" value="Submit" />
            }
            <hr />
        </div>
        <div id="reviewscontainer">
            @if (Model.Reviews.Count > 0)
            {
                int counter = 1;
                foreach (ReviewModel review in Model.Reviews)
                {
                    <h4>Review #@counter</h4>
                    <div id="reviewcontent">
                        @if (review.Rating == true)
                        {
                        <img src="~/Content/imgs/thumbup.png" />
                        }
                        else
                        {
                        <img src="~/Content/imgs/thumbdown.png" />
                        }
                        <div>@review.Description</div>
                        @{counter++;}
                    </div>
                    <hr />
                }
            }
        </div>
    </div>
</div>

