@{
    ViewBag.Title = "Suggest A Landmark!";
}
<div id="suggest-landmark-splash"></div>
<h2>@ViewBag.Title</h2>
<div id="suggest-landmark-container">

    <center><h3>Fill in the text areas below to suggest one of your favorite Columbus landmarks!</h3></center>

    <div id="suggest-landmark-form">
        @using (Html.BeginForm("SubmitNewLandmarkSuggestion", "Landmarks", FormMethod.Post))
        {
            <div>
                <div class="label-textbox-form">
                    @Html.Label("Landmark Name:")
                </div>
                <div>
                    @Html.TextBox("Name")
                </div>
            </div>
            <div class="label-textbox-form">
                <div>
                    @Html.Label("Landmark Address:")
                </div>
                <div>
                    @Html.TextBox("Address")
                </div>
            </div>
            <div class="label-textbox-form" id="suggest-landmark-textarea">
                <div>
                    @Html.Label("Landmark Description:")
                </div>
                <div>
                    @Html.TextArea("Description")

                </div>
            </div>
            <br />
            <input type="submit" value="Submit" class="btn btn-default"/>
        }
    </div>
</div>